a {
  color: #6596d6;
  text-decoration: none;
}
.om,
.bgtema {
  background-color: #f9f9f9;
}
footer {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
li a:hover {
  color: #1d2e60;
}
h1,
h2,
h3,
p {
  color: #1d2e60;
}

.copyright p {
  color: #f9f9f9;
}

h1 {
  font-size: 60px;
  line-height: 1;
}
.curve h1 {
  font-size: 90px;
}

h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

.bgtema h3 {
  padding-left: 10px;
}

p {
  font-size: 18px;
  font-family: libre;
  line-height: 1.7;
  padding-top: 15px;
}

li {
  font-size: 20px;
}
.uddannelse ul li,
.arbejde ul li,
.kompetencer ul li {
  font-family: libre;

  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
}

@media (max-width: 699px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 12px;
  }

  li {
    font-size: 15px;
  }
  .uddannelse ul li,
  .arbejde ul li,
  .kompetencer ul li {
    font-size: 12px;
  }

  .curve h1 {
    font-size: 60px;
  }
}
@font-face {
  font-family: bright;
  src: url(../fonts/webfontkit-20240603-072445/bright_demo-webfont.woff2);
}

@font-face {
  font-family: catilde;
  src: url(../fonts/webfontkit-20240604-082905/catilde_reguler-webfont.woff2);
}

@font-face {
  font-family: libre;
  src: url(../fonts/webfontkit-20240606-104554/librebaskerville-regular-webfont.woff2);
}

h1,
h2,
h3,
ul,
a {
  font-family: catilde;
  letter-spacing: 2px;
}
.menu a {
  font-family: libre;
}

#sec2 h1 {
  color: #ff9925;
}
#sec2 p {
  color: #f9f9f9;
}
