* {
  margin: 0;
  padding: 0;
}

#sec1 {
  position: width 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  box-sizing: border-box;
  background: linear-gradient(180deg, #61a6fa, #f9f9f9);
  /* background: #ffffff; */
}
#sec2 {
  background-color: #3f6a9e;
}
#sec2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#sec2 h1 {
  flex: 2; /* Giver h1 lidt mere plads */
}

#sec2 p {
  flex: 1; /* Gør at p fylder mindre i bredden */
  max-width: 300px; /* Giver en maksimal bredde til p for kortere linjer */
  padding-right: 50px;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  box-sizing: border-box;
}

section .curve {
  max-width: 100%;
}

.wave {
  position: absolute;
  bottom: -5px;
  left: 0;
}
/* .mirror {
  transform: scaleX(-1);
  display: inline-block;
} */

.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #3f6a9e;
  animation: typing 5s steps(15, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(28, 19, 82);
  }
}

/*forside billede*/
.computer {
  border-radius: 44% 56% 60% 40% / 41% 45% 55% 59%;
  max-width: 60vh;
  box-shadow: 0 4px 8px rgba(0, 3, 92, 0.283);
}
/* Om mig*/

.ommig {
  border-radius: 40% 55% 70% 30% / 30% 36% 64% 70%;
  max-width: 80%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 3, 92, 0.283);
}

.grid-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.ommigtekst {
  max-width: 100%;
}

.ommigtekst h1,
.ommigtekst p {
  margin: 0; /* Fjern margin fra overskrift og afsnit */
}
.snirkel {
  display: flex;
  justify-content: center;
}

.snirkel img {
  max-width: 100%;
  height: auto;
}
.grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  padding-top: 20%;
}

.grid-1-1-1 > div {
  border-radius: 20px;
  padding: 40px;
  margin: 10px;
  background-color: #87cbfa;
  box-shadow: 0 4px 8px rgba(0, 3, 92, 0.283);
  display: flex;
  flex-direction: column;
  height: 80%; /* Gør hver div til samme højde som grid-cellen */
}

.grid-1-1-1 ul li {
  color: #004080;
}

.uddannelse {
  max-width: 100%;
}

.arbejde {
  max-width: 100%;
}

.kompetencer {
  max-width: 100%;
}

.kontakt {
  text-align: center;
  padding: 30px; /* Tilføj indvendig afstand */
}
.kontakt img {
  padding-top: 15px;
}
.kontakt p {
  padding-top: 10px;
}
svg.wave2 {
  margin: 0;
  padding: 0;
  display: block; /* Sikrer at SVG fylder hele bredden */
}

.wave2 {
  position: relative;
  bottom: -5px; /* Finjuster for at fjerne eventuelle mellemrum */
}

/*
burger menu
*/

body {
  margin: 0;
}

/* header */

.header,
.header_tema {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding-left: 20px;
}

.header ul,
.header_tema ul {
  margin: 0;
  padding-right: 20px;
  list-style: none;
  overflow: hidden;

  /*border-radius: 10%; */
}

.header li a,
.header_tema li a {
  display: block;
  padding: 20px 20px;
  color: #1d2e60;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover,
.header_tema li a:hover,
.header_tema .menu-btn:hover {
  color: #ff9925;
}

.header .logo,
.header_tema .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.logo1 {
  max-width: 50px;
  height: auto;
}

.logo2 {
  max-width: 50px;
  height: auto;
}
.divf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f6a9e;
}
/* menu */

.header .menu,
.header_tema .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon,
.header_tema .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  padding-right: 30px;
}

.header .menu-icon .navicon,
.header_tema .menu-icon .navicon {
  background: #1d2e60;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after,
.header_tema .menu-icon .navicon:after,
.header_tema .menu-icon .navicon:before {
  background: #1d2e60;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before,
.header_tema .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after,
.header_tema .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn,
.header_tema .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu,
.header_tema .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon,
.header_tema .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before,
.header_tema .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after,
.header_tema .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after,
.header_tema .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header_tema .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*media*/

@media (min-width: 699px) {
  .header li,
  .header_tema li {
    float: left;
  }
  .header li a,
  .header_tema li a {
    padding: 20px 30px;
  }
  .header .menu,
  .header_tema .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon,
  .header_tema .menu-icon {
    display: none;
  }
}

@media (max-width: 700px) {
  .header ul {
    margin: 0;
    padding-right: 20px;
    list-style: none;
    overflow: hidden;
    background-color: #3f6a9e;
    /* border-radius: 10%; */
  }

  .header_tema ul {
    margin: 0;
    padding-right: 20px;
    list-style: none;
    overflow: hidden;
    background-color: #3f6a9e;
    /* border-radius: 10%; */
    z-index: 12;
  }
  .header_tema {
    position: relative;
    z-index: 13;
    background-color: #3f6a9e;
  }

  .header_tema ul {
    z-index: 14;
  }
}

@media (max-width: 700px) {
  /*section 2 på forsiden*/

  #sec2 {
    flex-direction: column;
    align-items: stretch;
  }
}

.hero {
  position: relative;
}

.svgs_container {
  position: absolute;
  margin-top: -25%;
  width: 100%;
  z-index: 10;
}

.svgs_container svg {
  display: block;
  width: 100%;
  z-index: 11;
}

@media (max-width: 700px) {
  .grid-1-1 {
    grid-template-columns: 1fr;
  }

  .grid-1-1 img {
    order: 2; /* Sørger for at billedet kommer efter teksten */
  }

  .ommigtekst {
    order: 1; /* Sørger for at teksten kommer før billedet */
  }
  .grid-1-1-1 {
    grid-template-columns: 1fr;
  }

  .grid-1-1-1 > div {
    order: initial; /* Sørger for at de efterfølgende sektioner står lodret */
    height: auto;
  }
}

.links-grid {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.links-grid .circle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;

  background-color: #87cbfa;
  color: #f9f9f9;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.links-grid .circle-link:hover {
  background-color: #ff9925;
}

.links-grid .circle-link:nth-child(1) {
  border-radius: 44% 56% 60% 40% / 19% 62% 38% 81%;
}

.links-grid .circle-link:nth-child(2) {
  border-radius: 55% 45% 60% 40% / 46% 62% 38% 54%;
}

.links-grid .circle-link:nth-child(3) {
  border-radius: 67% 33% 77% 23% / 32% 62% 38% 68%;
}

.links-grid .circle-link:nth-child(4) {
  border-radius: 47% 53% 83% 17% / 32% 78% 22% 63%;
}

.links-grid .circle-link:nth-child(5) {
  border-radius: 59% 41% 41% 59% / 63% 52% 48% 37%;
}

@media (max-width: 700px) {
  .links-grid .circle-link {
    width: 100px;
    height: 100px;
    font-size: 10px;
  }
  .links-grid {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .links-grid .circle-link:nth-child(1),
  .links-grid .circle-link:nth-child(2) {
    grid-column: span 1;
  }

  .links-grid .circle-link:nth-child(3) {
    grid-column: span 2;
  }

  .links-grid .circle-link:nth-child(4),
  .links-grid .circle-link:nth-child(5) {
    grid-column: span 1;
  }
}

@media (min-width: 699px) {
  .links-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .links-grid .circle-link:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .links-grid .circle-link:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .links-grid .circle-link:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }

  .links-grid .circle-link:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }

  .links-grid .circle-link:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
  }
}

/*knap til hjemmesider/projekter*/
.blue-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #87cbfa;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 60px;
  align-self: center;
}

/* Hover-effekt for knappen */
.blue-button:hover {
  background-color: #ff9925; /* Mørkere blå ved hover */
}

/* Aktiv effekt for knappen */
.blue-button:active {
  background-color: #004080; /* Endnu mørkere blå ved klik */
}

/*tema side*/
#temasite {
  padding: 80px;
  box-sizing: border-box;
  padding-top: 20%;
}
#temasite h1 {
  text-align: center;
  padding-top: 90px;
}
.tema1bil,
.tema10bil {
  border-radius: 31% 69% 92% 8% / 57% 67% 33% 43%;
  max-width: 80vh;
}
.tema2bil,
.tema9bil {
  border-radius: 40% 55% 70% 30% / 30% 36% 64% 70%;
  max-width: 80vh;
}

.tema3bil,
.tema8bil {
  border-radius: 40% 55% 70% 30% / 30% 36% 64% 70%;
  max-width: 80vh;
  /* width: 316%;
  height: 291%; */
}
.tema4bil,
.tema7bil {
  border-radius: 44% 56% 81% 19% / 23% 64% 36% 77%;
  max-width: 80vh;
}
.tema5bil,
.tema6bil {
  border-radius: 44% 56% 18% 82% / 41% 64% 36% 59%;
  max-width: 80vh;
}

.tema_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.tema_item {
  padding: 20px;
  border-radius: 8px;
  padding-top: 90px;
  margin-bottom: 40px;
}
.tema_item p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin: 0;
  padding: 10px;
  width: 90%;
  font-size: 15px;
}

h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.grid-container img {
  width: 100%;
  height: auto;
}

.grid-container .text-wrapper,
.grid-container .text-wrapper2 {
  padding: 10px;
}

.grid-container .tema1bil {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-container .text-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-container .tema6bil {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-container .text-wrapper2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.grid-container .tema3bil {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-container .text-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid-container .tema8bil {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-container .text-wrapper2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/* Tema 4 */
.grid-container .tema4bil {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-container .tema9bil {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* Tema 5 */
.grid-container .tema5bil {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid-container .tema10bil {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid-container .text-wrapper2 a {
  display: block;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .grid-container img,
  .grid-container .text-wrapper,
  .grid-container .text-wrapper2 {
    grid-column: 1 / -1;
  }

  .grid-container .tema1bil,
  .grid-container .tema3bil,
  .grid-container .tema5bil {
    grid-row: 1 / 2;
  }

  .grid-container .text-wrapper {
    grid-row: 2 / 3;
  }

  .grid-container .tema6bil,
  .grid-container .tema8bil,
  .grid-container .tema10bil {
    grid-row: 3 / 4;
  }

  .grid-container .text-wrapper2 {
    grid-row: 4 / 5;
  }

  .grid-container .text-wrapper2 a {
    margin-top: 10px;
  }

  .grid-container .tema6bil,
  .grid-container .tema8bil,
  .grid-container .tema9bil,
  .grid-container .tema10bil,
  .grid-container .tema1bil,
  .grid-container .tema2bil,
  .grid-container .tema3bil,
  .grid-container .tema4bil,
  .grid-container .tema5bil,
  .grid-container .tema7bil {
    grid-column: 1 / -1; /* Udvid kolonnen for at fylde hele bredden */
    grid-row: auto; /* Lad browseren bestemme rækkeplaceringen */
    width: 100%; /* Gør billederne fulde bredde */
    height: auto; /* Tilpas højden for at bevare billedets proportioner */
  }

  #temasite {
    padding: 0;
  }
}
